* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  height: 70px;
  background-color: #b1b0fd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  height: 100%;
}

.nav-link {
  text-decoration: none;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.nav-link:hover {
  cursor: pointer;
  background-color: #d8bdff;
  transition: 100ms linear;
}

/* ----------------- MAIN CONTAINER -------------------------- */

.container {
  padding: 50px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-weight: 600;
  font-size: 40px;
}

h3 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
}

input {
  outline: transparent;
  border: 1px solid #aaacad;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 1px;
}

input:focus {
  border: 2px solid #908fda;
  margin-top: 8px;
  margin-left: 0;
  margin-right: 0;
}

input:hover {
  border: 1px solid #6362c0;
}

.game-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.game-container input {
  width: 100%;
}

.players,
.subpool {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

#submit-match,
#submit-player,
#submit-score {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
  font-weight: 500;
  background-color: #908fda;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: transparent;
  transition: 0.3s;
}

#submit-match:hover {
  background-color: #6362c0;
}

/* players.html */
.newplayer-container input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

/* score.html */
.scores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

/* SPINNER */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  pointer-events: all;
}

.overlay-open {
  overflow: hidden;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: center;
}
